#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 600px;

}

.homerow {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.homecolumn {
  flex: 33.33%;
  padding: 5px;

}