#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.homerow {
  display: flex;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

.homecolumn {
  flex: 33.33%;
  padding: 0px;
}

img {
  width: 50%;
  height: auto;
  float: left;
}

.navbar_b {
  background-color: darkblue;
  color: lightblue;
}
