.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
   
}

.navbarA {
    display: flex;
    justify-content:right;
    justify-content: space-evenly;
    background-color: black;

}

